mixin hIntroduction()
  .wraphighlights
    ul
      li
        span.line1
          | Tom
          br
          | Dry
      li
        span.line2
          a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
            | Jim
            br
            | Jarmusch
      li
        span.line3
          a(href='http://austinkleon.com/steal/', target='_blank')
            | Austin
            br
            | Kleon
    ul
      li
        span.line4
          a(href='https://www.youtube.com/watch?v=nJPERZDfyWc&feature=youtu.be&t=91', target='_blank')
            | Kirby
            br
            | Ferguson
      li
        span.line5
          a(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')
            | Mark
            br
            | Twain
      li
        span.line6
          a(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')
            | James
            br
            | Webb-Young