mixin p1Highlights()
  .wraphighlights
    ul
      li
        .p1line1 Tom
        br
        .p1line1 Dry
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .p1line2 Jim
          br
          .p1line2 Jarmusch
      li
        a(href='http://austinkleon.com/steal/', target='_blank')
          .p1line3 Austin
          br
          .p1line3 Kleon
    ul
      li
        a(href='https://www.youtube.com/watch?v=nJPERZDfyWc&feature=youtu.be&t=91', target='_blank') 
          .p1line4 Kirby
          br
          .p1line4 Ferguson
      li
        a(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')
          .p1line5 Mark
          br
          .p1line5 Twain
      li
        a(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')
          .p1line6 James
          br
          .p1line6 Webb-Young