mixin p1TextSkip()
  .typedStringsContainerSkip
    p
      | Forget originality. The term is garbage. Ideas are not
      br.mobile_only
      |  original.
      br.desktop_only
      a.tom(href='http://www.bbc.co.uk/sport', target='_blank')
        | Ideas are made from 
        span.italic stuff.
        |  They are made
        br.mobile_only
        |  from every little
      br.desktop_only
      a.tom(href='http://www.bbc.co.uk/sport', target='_blank')    
        |  thing you have ever put inside your head.
      br.break
      | This book is about the people who put 
      span.italic stuff
      |  inside their
      br.mobile_only
      |  head. 
      br.desktop_only
      | I call them consumers. 
      a.jim(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
        | They devour old films,
      br.desktop_only
      br.mobile_only
      a.jim(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
        |  new films, music, books, random conversations...
      br.desktop_only
      |  First 
      br.mobile_only
      | they consume 
      a.austin(href='http://austinkleon.com/steal/', target='_blank') and then they steal what they have consumed.
      br.break
      a.kirby(href='https://www.youtube.com/watch?v=nJPERZDfyWc', target='_blank') Everything is a remix.
      |  Being a consumer is just making 
      br.desktop_only
      |  sure
      br.mobile_only
      |  you know all the best tracks so your remix sounds good.
      br.break
      a.mark(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')
        | In writing this book I have drawn consciously and 
        br.mobile_only
        | unconsciously
      br.desktop_only
      a.mark(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')        
        |  from one million outside sources.
      | 
      a.james(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')
        | My ideas 
        br.mobile_only
        | are nothing more
      br.desktop_only
      a.james(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')        
        |  than a new combination of old elements.
      br.mobile_only
      |  I have decided to
      br.desktop_only
      |  highlight the text I have stolen 
      br.mobile_only
      |  to demonstrate this principle.
      br.desktop_only
      |  If any good author
      br.mobile_only
      |  was honest their work would look like this.