mixin p1Text()
  .typedStringsContainer
    #typed-strings
      p
        | Forget originality.^500 The term is garbage.^500 Ideas are not
        br.mobile_only
        |  original.^600
        br.desktop_only
        | Ideas are made from 
        span.italic stuff.^700
        |  They are made
        br.mobile_only
        |  from every little
        br.desktop_only
        |  thing you have ever put inside your head.^800
        br.break
        | This book is about the people who put 
        span.italic stuff
        |  inside their
        br.mobile_only
        |  head.^700 
        br.desktop_only
        a.tom(href='http://www.bbc.co.uk/sport', target='_blank')        
          | I call them consumers.^700 
        a.jim(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          | They devour old films,^100
        br.desktop_only
        br.mobile_only
        a.jim(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          |  new films,^100 music,^100 books,^100 random conversations...^1000
        br.desktop_only
        |  First 
        br.mobile_only
        | they consume 
        a.austin(href='http://austinkleon.com/steal/', target='_blank') and then they steal what they have consumed.^1200
        br.break
        a.kirby(href='https://www.youtube.com/watch?v=nJPERZDfyWc', target='_blank') Everything is a remix.^700
        |  Being a consumer is just making 
        br.desktop_only
        |  sure
        br.mobile_only
        |  you know all the best tracks so your remix sounds good.^1000
        br.break
        a.mark(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')
          | In writing this book I have drawn consciously and 
          br.mobile_only
          | unconsciously
        br.desktop_only
        a.mark(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')        
          |  from one million outside sources.^1100
        | 
        a.james(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')
          | My ideas 
          br.mobile_only
          | are nothing more
        br.desktop_only
        a.james(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')        
          |  than a new combination of old elements.^1100
        br.mobile_only
        |  I have decided to
        br.desktop_only
        |  highlight the text I have stolen 
        br.mobile_only
        |  to demonstrate this principle.^800
        br.desktop_only
        |  If any good author
        br.mobile_only
        |  was honest their work would look like this.
    span#typed