mixin p1TextAltSkip()
  .typedStringsContainerSkip
    p
      | Forget originality. The term is garbage. Ideas are not original.
      br.desktop_only
      a.tom1(href='http://www.bbc.co.uk/sport', target='_blank')
        | Ideas are made from 
        span.italic stuff.
        |  They are made from every little
      br.desktop_only
      a.tom1(href='http://www.bbc.co.uk/sport', target='_blank')    
        |  thing you have ever put inside your head.
      br.break
      | This book is about the people who put 
      span.italic stuff
      |  inside their head. 
      br.desktop_only
      a.tom(href='http://www.bbc.co.uk/sport', target='_blank')
        | I call them consumers.
      | 
      a.jim(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
        | They devour old films,
      br.desktop_only
      a.jim(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
        |  new films, music, books, random conversations...
      br.desktop_only
      |  First they consume 
      a.austin(href='http://austinkleon.com/steal/', target='_blank') and then they steal what they have consumed.
      br.break
      | In writing this book I have practised this philosophy. 
      br.desktop_only
      a.mark(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')        
        | I have drawn consciously and unconsciously from one million
      br.desktop_only
      a.mark(href='https://www.brainpickings.org/2012/05/10/mark-twain-helen-keller-plagiarism-originality/', target='_blank')        
        | outside sources.
      |  
      a.james(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')
        | My ideas are nothing more than a new
      br.desktop_only
      a.james(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')        
        | combination of old elements.
      |  I have highlighted the text I
      br.desktop_only
      |  have stolen to demonstrate this principle.
      br.break
      a.james2(href='https://www.brainpickings.org/2012/05/04/a-technique-for-producing-ideas-young/', target='_blank')        
        | Appreciate how heavily we are influenced by what we consume.
      br.desktop_only        
      |  If any author was totally honest their work would look like this.
  span#typed