mixin p3Highlights()
  .wraphighlights.wh3
    ul
      li
        a(href='https://www.amazon.co.uk/Zig-Zag-Surprising-Greater-Creativity/dp/1118297709/ref=sr_1_sc_1?ie=UTF8&qid=1515878669&sr=8-1-spell&keywords=keith+sawyer+creatitvity', target='_blank')        
          .blue Keith
          br
          .blue Sawyer
      li
        a(href='https://issuu.com/saemiyou/docs/blockbyblock?layout=http%253A%252F%252Fskin.issuu.com%252Fv%252Flight%252Flayout.xml&showFlipBtn=true', target='_blank')
          .pink Saemi
          br
          .pink You
      li
        a(href='http://www.advancedhiring.com/portals/0/docs/a%20technique%20for%20getting%20ideas%20-%20james%20wood%20young.pdf', target='_blank')
          .orange James
          br
          .orange Webb-Young