mixin p3Highlights()
  .wraphighlights3
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .violet Keith
          br
          .violet Sawyer
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .pink Saemi
          br
          .pink You
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .orange James
          br
          .orange Webb
          br
          .orange Young