mixin p3Text()
  p
    | And that is is all that creativity is: populating your mind with 
    br.desktop_only
    | valuable pieces of knowledge which rotate, invert, evolve, and
    br.desktop_only    
    | finally combine to produce new ideas.
    br.break
    | There is no shortcut 
    a.violet(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')     
      | Ideas do not magically pop into your head.
    br.desktop_only
    | You have to put them there. 
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')         
      | You construct them block by block,
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | chunk by chunk, using all the information and experiences that
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | you have taken in.
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')         
      | The process is just as definite as the production
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | of Ford cars on an assembly line.