mixin p12Text()
  p
    | The literary critics began circling. They were a calculative group 
    br.desktop_only
    | who would deliberate over every adverb, craft every simile, and 
    br.desktop_only
    | tear up draft after draft until they thought their work was perfect. 
    br.desktop_only
    | And so when they heard about this book that had been written in 
    br.desktop_only
    | just three weeks they dismissed it. They said that the author ‘could 
    br.desktop_only
    | not be a writer at all, but just a typer’. 
    br.break
    | The author tried to explain that he didn’t feel like he had really
    br.desktop_only
    | written the book at all, 
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | just that he saw a few things and then it all
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | became quite obvious. That he could better connect experiences
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | and synthesise new thoughts simply because he had had more
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | experiences and thought about them more.
    |  The author explained
    br.desktop_only
    | that he could write fast because life on the road was fast.
    br.break
    | But the literary critics didn’t understand what he meant. They
    br.desktop_only
    | didn’t understand the value of diverse experiences. No matter how
    br.desktop_only
    | long they slaved away behind their typewriters 
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | they would never
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | have enough interesting dots to connect together and write about.
    br.break
    | The author was on the road for seven years before he wrote his
    br.desktop_only
    | book. He had experienced what it was like to live. That’s why he