mixin p12Highlights()
  .wraphighlights.wh1
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .blue Steve
          br
          .blue Jobs