mixin p7Highlights()
  .wraphighlights.wh2
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .orange Kirby
          br
          .orange Ferguson
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .green DJ
          br
          .green Spooky