mixin p7Text()
  p
    | The more information you consume, the more knowledge you will
    br.desktop_only
    | possess, and the greater scope you will have for arriving at striking
    br.desktop_only    
    | combinations. And that is all creativity is: combining seemingly
    br.desktop_only    
    | unrelated pieces of knowledge to form a new concept.
    br.break
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | Everything is a remix.
    |  Being a consumer is just making sure you
    br.desktop_only
    | know all the best tracks so your remix sounds good. 
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | You are only
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | as good as your record collection.