mixin p16Text()
  p
    | The dots connect perfectly and you finally see it. Michelangelo saw
    br.desktop_only
    | David, J. K. Rowling saw Harry Potter, Orvill and Wilbur Wright
    br.desktop_only
    | saw a flying machine.
    br.break
    | When the dots connect perfectly, what you see is the result of years
    br.desktop_only
    | and years of knowledge accumulation. It is called your ‘eureka
    br.desktop_only
    | moment’ but it has taken a lifetime to construct. Day by day, hour
    br.desktop_only
    | by hour, you are unconsciously laying the foundations through the
    br.desktop_only
    | type of information and experiences which you choose to consume.
    br.break
    | That is my message.
    br.break
    | Be a consumer. Take in information and experiences. Trust that the
    br.desktop_only
    | the sum of knowledge inside your head will work everything out.
    br.desktop_only
    | You will see your David, your Harry Potter, your flying machine.