mixin p14Text()
  p
    | He started talking about his dream.
    br.break    
    | And how can it be that the greatest speech ever written was not
    br.desktop_only
    | ‘ever written’ at all?
    br.break
    | But it is true. The orator makes the second half of his speech up in
    br.desktop_only
    | the moment.
    br.break
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | He makes it up in the moment and in every experience he has
    br.desktop_only    
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | consumed along the way.
    |  Every time he was forced to stand up on
    br.desktop_only
    | the bus to make way for the white man, every week he spent in jail
    br.desktop_only
    | through standing up for his beliefs, every letter he ever wrote to
    br.desktop_only
    | his African American civil rights brothers and sisters, every night
    br.desktop_only
    | he stayed up late twisting words together on hotel napkins, and
    br.desktop_only
    | every morning he got up early to deliver these same words to
    br.desktop_only
    | church congregations.
    br.break
    | The orator makes his speech up in the moment and 
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | he also makes it
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
      | up from every piece of information and every experience that has
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')  
      | ever travelled through his mind.
    br.aTop
    | *
    br.aBottom