mixin p5Highlights()
  .wraphighlights.wh4
    ul
      li
        a(href='https://www.youtube.com/watch?v=KktuoQwb3vQ', target='_blank')        
          .green Gretchen
          br
          .green Rubin
      li
        a(href='https://www.brainpickings.org/2013/06/07/annie-dillard-the-writing-life-1/', target='_blank')
          .yellow Annie
          br
          .yellow Dillard
      li
        a(href='http://tumblr.austinkleon.com/post/24956947198', target='_blank')
          .blue Austin
          br
          .blue Kleon
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .pink Tom
          br
          .pink Dry