mixin p5Text()
  p
    a.green(href='https://www.youtube.com/watch?v=KktuoQwb3vQ', target='_blank')
      | The days are long, but the years are short.
    |  One morning, Frank
    br.desktop_only
    | wakes up and he has turned sixty. Forty years hitting him in one
    br.desktop_only
    | big birthday. Frank blows out some candles. Happy 60th.
    br.aTop
    | *
    br.aBottom
    a.yellow(href='https://www.brainpickings.org/2013/06/07/annie-dillard-the-writing-life-1/', target='_blank')
      | How you spend each day is how you spend your life.
    br.break
    | What you consume in this hour and then the next is what your
    br.desktop_only    
    | mind ends up being made from.
    br.break
    a.blue(href='http://tumblr.austinkleon.com/post/24956947198', target='_blank')     
      | Read obituaries.
    |  Learn JavaScript. Go camping. Write a diary.
    br.break
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | I am urging you to do stuff. If you do stuff, you fill your mind with
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')     
      | stuff. And that is what ideas are made from.
    br.break
    | Day in and day out the best consumers are doing stuff. They are
    br.desktop_only
    | consuming more useful information and experiences. They have
    br.desktop_only
    | a greater quality and quantity of knowledge in their minds and so
    br.desktop_only
    | they can make more explosive connections.
    br.break
    | They aren’t more creative. They produce great work because they
    br.desktop_only    
    | have consumed great work.  
