mixin p11Text()
  p
    | The artist was sitting on a park bench and a lady came up to him
    br.desktop_only
    | and asked him to sketch a portrait. After studying her for a moment
    br.desktop_only
    | the artist used a single pencil stroke and handed the artwork to the
    br.desktop_only
    | woman a few seconds later.
    br.break
    | “It’s beautiful,” exclaimed the lady. “You have captured my whole
    br.desktop_only    
    | essence in just one stroke. Thank you.”
    br.break
    | The lady got out her wallet and asked the artist how much it would
    br.desktop_only    
    | cost to buy the painting.
    br.break    
    | “10000 lira!” he exclaimed.
    br.break    
    | “But it only took you a few seconds,” argued the lady.
    br.break    
    | The artist smiled, and responded, “No, Madame, it took me my
    br.desktop_only
    | whole life.”
    br.aTop
    | *
    br.aBottom
    | The author woke up suddenly. More benzedrine, cigarettes, bowls of
    br.desktop_only
    | pea soup and mugs of coffee to keep him going. He began telling his
    br.desktop_only    
    | story. Seven thousand words. Flat out. Then another seven thousand.
    br.desktop_only    
    | And then another. Three weeks later his book was finished.