mixin p13Highlights()
  .wraphighlights.wh2
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .pink Red
          br
          .pink Smith
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .orange Ernest
          br
          .orange Hemmingway