mixin p13Text()
  p
    | wrote one of the most influential books of all time. The literary
    br.desktop_only
    | critics spent those seven years behind a typewriter, 
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank') 
      | bleeding out the
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | words for their reviews drop by drop.
    br.break
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | They tried to write before they had lived.
    | That’s why they would
    br.desktop_only
    | only ever write about one of the most influential books of all time.
    br.aTop
    | *
    br.aBottom
    | It was late in the day and still very hot. A long afternoon of
    br.desktop_only      
    | speeches, song and prayer, and finally the orator stepped up to
    br.desktop_only      
    | the lectern, ready to address the 250,000 people who had gathered
    br.desktop_only
    | outside the Lincoln Memorial.
    br.break
    | He began slowly, reminding the audience of the Declaration of
    br.desktop_only    
    | Independence, before condeming the state of race relations. The
    br.desktop_only
    | crowd listened attentively.
    br.break
    | Suddenly, during the seventh paragraph of his speech, something
    br.desktop_only    
    | incredible began to happen. The orator paused and pushed the
    br.desktop_only    
    | remarks he had prepared to one side. He started launching into
    br.desktop_only    
    | sentences blindly, not knowing how he would finish them.
    