mixin p21Text()
  p
    | My friends often ask me why am I bothering to write a book, why
    br.desktop_only
    | am I bothering to learn web development, why am I bothering
    br.desktop_only
    | starting my own business? I tell them that Steve Jobs did these sorts
    br.desktop_only
    | of things. And they tell me that I’m not Steve Jobs.
    br.break
    | Sometimes, when I’m questioning myself, I like to imagine what
    br.desktop_only  
    | Steve Jobs would have been like at twenty-one years old. I have
    br.desktop_only  
    | this vision of him ignoring the herd, pulling apart electronics in the
    br.desktop_only  
    | family garage, dropping in on extra calligraphy classes for the sake
    br.desktop_only  
    | of it. And his friends are asking him, ‘Why are you bothering with
    br.desktop_only  
    | all this stuff, Steve?’ And Steve tells his friends that Henry Ford
    br.desktop_only  
    | would do these sorts of things. And his friends would tell him, ‘But
    br.desktop_only  
    | Steve, you’re not Henry Ford.’
    br.aTop
    | *
    br.aBottom
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | Genius is the product of the hopes and longings of ordinary
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | people.
    |  Destiny is a load of rubbish. Steve Jobs didn’t just
    br.desktop_only
    | ‘become’ the greatest. And neither did Henry Ford. They woke
    br.desktop_only
    | up everyday, walked half a mile further than everyone else and
    br.desktop_only
    | fetched the key to the church.