mixin p15Highlights()
  .wraphighlights.wh3
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .yellow Pablo
          br
          .yellow Picasso
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .blue Jack
          br
          .blue Kerouac
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .pink Martin
          br
          .pink Luther
          br
          .pink King Jr