mixin p15Text()
  p
    | And yet when people talk of 
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | the artist
    | , 
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')     
      | the author
    |  and 
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | the orator
    br.desktop_only
    | they tell a slightly different story. They like to talk about three
    br.desktop_only
    | geniuses. Three naturals who were placed on this earth to show
    br.desktop_only
    | off their gift.
    br.break
    | They prefer this story because it gives them an alibi. They
    br.desktop_only
    | convince themselves that only a chosen few are marked out for
    br.desktop_only
    | greatness. And this becomes their excuse. Their reason not to try.
    br.break
    | But look one step beyond ‘genius’. Think of the author who spent
    br.desktop_only
    | night after night analysing Shakespeare or the orator who covered
    br.desktop_only
    | every mile of America to protest about segregation laws. And it is
    br.desktop_only
    | clear that there is a far more basic similarity that ties together the
    br.desktop_only
    | greatest producers of all time.
    br.break
    | They are also the greatest consumers of all time.
