$black: #333333;

@font-face 
  font-family: PerpetuaStdR
  src: url("/fonts/PerpetuaStdR.woff2") format("woff")

@font-face 
  font-family: PerpetuaStdRItalic
  src: url("/fonts/PerpetuaStdRItalic.woff2") format("woff")

body, html
  text-align: center
  font-size: 18px
  line-height: 1.45
  font-family: PerpetuaStdR
  color: $black

html
  font-size: 10px

.italic
  font-family: PerpetuaStdRItalic

.desktop_only 
  display: block

.mobile_only 
  display: none

.break
  margin-top: 18px
  display: block
  content: ""

