$black: #333333;

@font-face 
  font-family: PerpetuaStdR
  src: url("/fonts/PerpetuaStdR.woff2") format("woff")

@font-face 
  font-family: PerpetuaStdRItalic
  src: url("/fonts/PerpetuaStdRItalic.woff2") format("woff")

.italic
  font-family: PerpetuaStdRItalic

.poemItalic
  text-align: left
  // line-height: 25px
  margin: 0 auto
  width: 290px
  font-family: PerpetuaStdRItalic

.desktop_only 
  display: block

.mobile_only 
  display: none

main
  display: block
  width: 100vw
  min-height: 100vh
  position: relative
  overflow-y: hidden

section
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 100vh
  width: 100vw
  // transition: 1.4s ease transform