p, li, #typed, .typed-cursor, .ptCenterMargin, .poemItalic
  font-size: 1.8rem

p, li, #typed, .typed-cursor, .ptCenterMargin, .poemItalic, .headerContainer, .ptButton
  color: var(--color)
  text-shadow: var(--shadow)

// Screen Height Changes

// Sorted down to 590px Height

body, html
  text-align: center
  line-height: 1.45
  font-family: PerpetuaStdR
  font-size: 10px
  background-color: var(--background)
  @media screen and (max-height: 685px)
    font-size: 9.9px
  @media screen and (max-height: 645px)
    font-size: 9.7px
    line-height: 1.4
  @media screen and (max-height: 615px)
    font-size: 9.6px
    line-height: 1.4
  @media screen and (max-height: 607px)
    font-size: 9.5px
    line-height: 1.4
  @media screen and (min-height: 750px)
    font-size: 10.5px
    line-height: 1.5  
  @media screen and (min-height: 780px)
    font-size: 11px
  @media screen and (min-height: 830px)
    font-size: 11.4px
  @media screen and (min-height: 855px)
    font-size: 11.7px
  @media screen and (min-height: 880px)
    font-size: 12px

// Header
.headerContainer
  justify-content: center
  padding: 2.3rem 0px 1.2rem 0px
  display: flex
  letter-spacing: 4.5px
  font-size: 1.9rem
  @media screen and (min-height: 800px)
    padding: 2.8rem 0px 1.5rem 0px    

.hcCenterMargin
  margin: 0 10rem
.hcSkip
  cursor: pointer
  transform: translateY(-1px)
  letter-spacing: normal
  font-size: 1.8rem !important  
.hcSkipBlank
  visibility: hidden
.nightMode
  width: 1.2rem
  height: 1.2rem
  transform: translateY(2px)   


.break
  margin-top: 1.8rem
  +brBlank
  @media screen and (max-height: 665px)
    margin-top: 1.6rem
  @media screen and (max-height: 625px)
    margin-top: 1.45rem
  @media screen and (min-height: 830px)
    margin-top: 2rem

.aTop
  margin-top: 1.2rem
  +brBlank
  @media screen and (max-height: 665px)
    margin-top: 1.06rem
  @media screen and (max-height: 625px)
    margin-top: .96rem
  @media screen and (min-height: 830px)
    margin-top: 1.32rem

.aBottom
  margin-top: .2rem
  +brBlank
  @media screen and (max-height: 665px)
    margin-top: .17rem
  @media screen and (max-height: 625px)
    margin-top: .15rem
  @media screen and (min-height: 830px)
    margin-top: .23rem

.poemBreak
  margin-top: 1.2rem
  +brBlank
  @media screen and (max-height: 665px)
    margin-top: 1.06rem
  @media screen and (max-height: 625px)
    margin-top: .96rem

.fixedSection
  position: fixed
  bottom: 2rem
  left: 0
  right: 0
  margin: 0 auto
  @media screen and (max-height: 700px)
    bottom: 1.7rem
  @media screen and (max-height: 670px)
    bottom: 1.4rem
  @media screen and (max-height: 650px)
    bottom: 1.2rem
  @media screen and (min-height: 800px)
    bottom: 2.5rem

.wraphighlights
  margin: 0 auto 3.5rem auto
  @media screen and (max-height: 700px)
    margin: 0 auto 3rem auto
  @media screen and (max-height: 690px)
    margin: 0 auto 2.7rem auto
  @media screen and (max-height: 655px)
    margin: 0 auto 2rem auto

.wraphighlightsPage1
  ul
    @media screen and (max-height: 666px)    
      margin: 1.8rem 0px 1.5rem 0px
    @media screen and (max-height: 650px)    
      margin: 1.8rem 0px 1.25rem 0px
    @media screen and (max-height: 614px)    
      margin: 1.6rem 0px 1.1rem 0px