body
  text-align: center
  font-size: 18px
  line-height: 1.45
  // font-family: Perpetua

header
  justify-content: center
  padding: 24px 0px 10px 0px
  letter-spacing: 4.5px
  text-transform: uppercase
  display: flex

p
  font-family: Perpetua  

.desktop_only 
  display: block

.mobile_only 
  display: none

.br 
  font-size: 28.5px



