// p1Header
.hcCenterMargin
  margin: 0 100px
.hcSkip
  cursor: pointer
  transform: translateY(-1px)
  letter-spacing: normal
  font-size: 18px !important  
.hcSkipBlank
  visibility: hidden

/* HIGHLGIHTS SECTION

.wraphighlightsPage1
  max-width: 480px
  margin: 0 auto

/* A TAGS
a
  color: $black
  text-decoration: none !important
  &:visited
    color: $black
    text-decoration: none !important
  &:hover
    color: rgba(0, 0, 0, 0.75)
    text-decoration: none !important
  &:focus
    color: $black
    text-decoration: none !important

.disableClick
  > *
    pointer-events: none
    position: relative

#typed-strings1
  display: block

.typedStringsContainerSkip
  display: none

// border-radius
.tom
  +br
.jim
  +br
.austin
  +br
.kirby
  +br
.mark
  +br
.james
  +br

.p1line1
  +br
.p1line2
  +br
.p1line3
  +br
.p1line4
  +br
.p1line5
  +br
.p1line6
  +br

// skipAnimation
.tscsActive
  .tom
    background-color: rgba(199, 220, 101, .7)
  .jim
    background-color: rgba(236, 208, 120, .7)
  .austin
    background-color: rgba(80, 197, 186, 0.7)
  .kirby
    background-color: rgba(237, 50, 147, 0.6)
  .mark
    background-color: rgba(239, 153, 87, 0.8)
  .james
    background-color: rgba(100,130,400,0.7)

.whActive
  .p1line1
    background-color: rgba(199, 220, 101, .7)
    opacity: 1 !important
  .p1line2
    background-color: rgba(236, 208, 120, .7)
    opacity: 1 !important
  .p1line3
    background-color: rgba(80, 197, 186, 0.7)
    opacity: 1 !important
  .p1line4
    background-color: rgba(237, 50, 147, 0.6)
    opacity: 1 !important
  .p1line5
    background-color: rgba(239, 153, 87, 0.8)
    opacity: 1 !important
  .p1line6
    background-color: rgba(100,130,400,0.7)
    opacity: 1 !important

.ptActive
  opacity: 1 !important

// p1PageTurner
.p1ptContainer
  display: flex
  justify-content: center
  align-items: center
  color: $black

.p1ptLeftButton
  visibility: hidden






