// p1Header
.hcCenterMargin
  margin: 0 10rem
.hcSkip
  cursor: pointer
  transform: translateY(-1px)
  letter-spacing: normal
  font-size: 18px !important  
.hcSkipBlank
  visibility: hidden
.nightMode
  margin-left: 7px
  transform: translateY(2px)    

/* HIGHLGIHTS SECTION

.wraphighlightsPage1
  max-width: 480px
  margin: 0 auto

/* A TAGS
// a
//   color: $black
//   text-decoration: none !important
//   &:visited
//     color: $black
//     text-decoration: none !important
//   &:hover
//     // color: rgba(0, 0, 0, 0.75)
//     text-decoration: none !important
//     opacity: 0.83
//   &:focus
//     color: $black
//     text-decoration: none !important

// a
//   &:hover
//     opacity: 0.8
//     text-decoration: none !important    


.disableClick
  > *
    pointer-events: none
    position: relative

#typed-strings1
  display: block

.typedStringsContainerSkip
  display: none

// border-radius
.tom
  +br
  // transition: all .4s
.jim
  +br
.austin
  +br
  // transition: all .4s
.mark
  +br
  // transition: all .4s
.james
  +br
  // transition: all .4s
.james2
  +br
  // transition: all .4s

.p1line1
  +br
  opacity: 0
  background-color: rgba(150, 240, 75, 0.65)  
.p1line2
  +br
  // transition: all .4s
  opacity: 0
  background-color: rgba(266, 238, 110, 0.78)  
.p1line3
  +br
  // transition: all .4s
  opacity: 0
  background-color: rgba(80, 205, 236, 0.62)  
.p1line4
  +br
  // transition: all .4s
  opacity: 0
  background-color: rgba(277, 80, 210, 0.44)  
.p1line5
  +br
  // transition: all .4s
  opacity: 0
  background-color: rgba(299, 140, 0, 0.50)

.p1line6
  +br
  opacity: 0 
  background-color: rgba(87, 130, 365, 0.53)

// skipAnimation
.tscsActive
  .tom
    background-color: rgba(150, 240, 75, 0.65)
    transition: background-color .4s    
  .jim
    background-color: rgba(266, 238, 110, 0.78)
    transition: background-color .4s    
  .austin
    background-color: rgba(80, 205, 236, 0.62)
    transition: background-color .4s    
  .mark
    background-color: rgba(277, 80, 210, 0.44)
    transition: background-color .4s    
  .james
    background-color: rgba(299, 140, 0, 0.50)
    transition: background-color .4s    
  .james2
    background-color: rgba(87, 130, 365, 0.53)
    transition: background-color .4s    

.whActive
  .p1line1
    opacity: 1 
    transition: background-color .4s
  .p1line2
    opacity: 1
    transition: background-color .4s    
  .p1line3
    opacity: 1
    transition: background-color .4s    
  .p1line4
    opacity: 1
    transition: background-color .4s    
  .p1line5
    opacity: 1
    transition: background-color .4s
  .p1line6
    opacity: 1
    transition: background-color .4s    

.ptActive
  opacity: 1 !important

// p1PageTurner
.p1ptContainer
  display: flex
  justify-content: center
  align-items: center
  color: $black
  opacity: 0

.p1ptLeftButton
  visibility: hidden
