// Header
.headerContainer
  justify-content: center
  padding: 28.8px 0px 12px 0px
  display: flex
  letter-spacing: 4.5px
  font-size: 19px

// *** WrapHighlights 2-6 ***

.wraphighlights2
  max-width: 400px
  margin: 0 auto

.wraphighlights3
  max-width: 480px
  margin: 0 auto

ul
  display: flex
  list-style-type: none
  margin: 18px 0px 18px 0px
  
li
  flex: 1

// Page Turner
.ptContainer
  display: flex
  justify-content: center
  align-items: center
  color: $black

.ptCenterMargin
  margin: 0 50px

.ptButton
  font-size: 22px
  transform: translateY(2px)
  cursor: pointer

// Highlights
.green
  background-color: rgba(199, 220, 101, .7)
  +br

.yellow
  background-color: rgba(236, 208, 120, .7)
  +br

.violet
  background-color: rgba(80, 197, 186, 0.7)
  +br

.pink
  background-color: rgba(237, 50, 147, 0.6)
  +br

.orange
  background-color: rgba(239, 153, 87, 0.8)
  +br
  
.purple
  background-color: rgba(100,130,400,0.7)
  +br