// Header
.headerContainer
  justify-content: center
  padding: 24px 0px 10px 0px
  display: flex
  letter-spacing: 4.5px

// Highlights
.green
  background-color: rgba(199, 220, 101, .7)  

.yellow
  background-color: rgba(236, 208, 120, .7)

.violet
  background-color: rgba(80, 197, 186, 0.7)

.pink
  background-color: rgba(237, 50, 147, 0.6)

.orange
  background-color: rgba(239, 153, 87, 0.8)

.purple
  background-color: rgba(100,130,400,0.7)

// Page Turner
.ptContainer
  display: flex
  justify-content: center
  align-items: center
  color: $black

.ptCenterMargin
  margin: 0 50px

.ptButton
  font-size: 22px
  transform: translateY(2px)
  cursor: pointer