mixin p4Text()
  p
    | Everyone takes in information and experiences. It is impossible not
    br.desktop_only
    | to. But it is the type of information and experiences that you take in
    br.desktop_only    
    | that differentiates the consumers.
    br.aTop
    | *
    br.aBottom
    | Frank is twenty years old. He drives to work every morning, Capital
    br.desktop_only    
    | FM playing. Work starts and Frank attends a few meetings before
    br.desktop_only    
    | firing off some emails. Lunch break hits and he checks Facebook.
    br.break
    | Frank reads about his 271 friends: what parties they are attending,
    br.desktop_only    
    | where they went on their last holiday, their views on the latest
    br.desktop_only    
    | election. Frank arrives back from work, turns on the T.V. and
    br.desktop_only    
    | watches a re-run of Top Gear. Gordon Ramsay is the star in the
    br.desktop_only    
    | reasonably priced car. Ramsay talks about his latest series of
    br.desktop_only    
    | ‘Ramsay’s Kitchen Nightmares’ and has some banter with Jeremy
    br.desktop_only    
    | Clarkson about women drivers. He goes round the track in one
    br.desktop_only    
    | minute fifty-four seconds. The crowd applauds.
    br.break
    | Next day, during lunch, Frank has a conversation about last night’s
    br.desktop_only    
    | Top Gear episode. The same people say the same things. Frank
    br.desktop_only    
    | makes a joke about Clarkson being ‘the blokes’ bloke’. The joke
    br.desktop_only    
    | has been told before. But it still gets a good reception.
