mixin p17Text()
  p
    | And whatever you see, it is possible for you to create.
    br.break
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | Your mind will never give you the idea without also giving you the
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | power to execute it.
    br.break
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | Are you kidding me?
    br.break
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | No, I’m not kidding you sport. That’s why I’m not talking about
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | some idea for a book I had twenty years ago and how I always
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | regretted not following through and writing it.