mixin p17Highlights()
  .wraphighlights.wh3
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .orange Richard
          br
          .orange Bach
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .green 'Matt
          br
          .green Damon'
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .yellow 'Robin
          br
          .yellow Williams'