mixin p10Text()
  p
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | But originality is non-existent. It is authenticity which is
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | invaluable. And Owen’s words were authentic.
    br.break
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')         
      | He was telling you what he had seen and heard rather than
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | regurgitating what some old war poet had seen or heard.
    br.break
    | The experiences you consume do not have to be as remarkable as
    br.desktop_only
    | fighting in a world war.
    br.break
    | Iron some clothes. Walk the dog. Write a letter.
    br.desktop_only    
    | Talk to someone on the bus.
    br.break
    | Sign up for a open-mic stand up spot at The Pig & Whistle. Jump
    br.desktop_only
    | up on the stage and tell some jokes.
    br.break
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')            
      | The best experiences see you throw yourself into the current,
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')            
      | knowing that you may sink. The great majority lower themselves
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')            
      | into the current with life-preservers around their necks, unaware
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | that more often than not it is the life-preserver which sinks them.
    br.break
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | Go get yourself some roller skates and join your local roller derby.