mixin p10Highlights()
  .wraphighlights.wh3
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .pink Jim
          br
          .pink Jarmusch
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .orange Sheehan
          br
          .orange Quirke
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .green Henry
          br
          .green Miller
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .yellow Shia
          br
          .yellow LaBeouf