mixin flashes()
  if flashes.hardback
    .puOuterContainerFlash
      .puInnerContainerFlash
        .puiiContainerFlash
          li Thank you for your order
          li It will be posted shortly
  if flashes.donation
    .puOuterContainerFlash
      .puInnerContainerFlash
        .puiiContainerFlash
          li It's not the money. I spend it all on
          li hookers and rollies anyway.