mixin popUp()
  .puOuterContainer
    .puInnerContainer
      .puiiContainer
        li.buyHardback   
          | Physical Copy (Hardback)
        li
          a(href='https://www.amazon.co.uk/Consumers-short-manual-about-creativity-ebook/dp/B0787829V7/ref=sr_1_1?ie=UTF8&qid=1516454125&sr=8-1&keywords=Consumers+Harry+Dry', target='_blank')   
            | Amazon (Hardback / Kindle)  
        li
          a(href='https://www.amazon.co.uk/Consumers-short-manual-about-creativity-ebook/dp/B0787829V7/ref=sr_1_1?ie=UTF8&qid=1516454125&sr=8-1&keywords=Consumers+Harry+Dry', target='_blank')       
            | Write a Review
        li.makeDonation  
          | Make a Donation
        