mixin checkout()
  .modalOuterContainer
    .modalInnerContainer
      .modalInnerTitleContainer
        div.miTitle.header The Original Plan
        div.miTitle.plan $14 / mo
      form.modalInnerInnerContainer(action="/charge" method="POST" id="payment-form")
        .mIICHeader Details
        .detailsContainer
          input(type="text" name="stripeName" class="formInput" placeholder="Full Name")
          input(type="text" name="stripeEmail" class="formInput" placeholder="Email Address")
        #card-element
        #card-errors(role="alert")
        .mIICHeader Charges
        .chargesContainer
          .lightCharge Price
          .lightCharge $14.00
        .chargesContainer.chargesContainerHidden
          .lightCharge.hiddenCharge Discount
          .lightCharge.hiddenCharge 25% off forever            
        div.chargesContainer.noBorderBottom
          .lightCharge Amount Due
          .heavyCharge $14.00
        .couponContainer             
          div.mIICHeader.mIICCoupon Enter a Coupon Code
          .couponInputContainer
            input(type="text" name="stripeCoupon" class="formInput couponInput" placeholder="Coupon")
            != h.icon('refresh')
            div.couponFM               
        button.mIButton Buy Now
        .sslContainer
          != h.icon('padlock')
          .sslText Secure SSL Payment via Stripe