//- Accompanying ModalOne

//- #typed-strings1
//-   p.buyNow Buy Now
//- span#typed1

mixin modalOne()
  .mOuterContainer
    .m1InnerContainer
      .m1InnerInnerContainer
        div Physical Copy (Hardback)
        div.optionMargin Digital Copy (PDF)
        div Amazon (Hardback / Kindle)