mixin priceContainer()
  .priceContainer
    .pcHeader THE ORIGINAL PLAN
    .pcDollarContainer
      .pcDollar $
      .pcPrice 11
      .pcPricePerMonth
        |/ 
        .pcExtension mo
    .pcBox
      span.pcBoxHeader!= h.icon('computer-desktop')
        | Free Domain & Hosting
      .pcBoxSubtitle A custom domain name & hosting is included in this plan
    .pcBox
      span.pcBoxHeader!= h.icon('pcMic')
        | New Music. No Problems
      .pcBoxSubtitle Want your site updated? I'm more than happy to make changes. 
    .pcBox
      span.pcBoxHeader!= h.icon('mobile-devices')
        | Mobile Optimised
      .pcBoxSubtitle Our websites look great across all screen sizes. 
    .pcBox
      span.pcBoxHeader!= h.icon('chart')
        | Site Analytics and Email List
      .pcBoxSubtitle Monthly Report of your Websites Stats sent to your Inbox
    .pcBox
      //- span.pcBoxHeader!= h.icon('pcMic')
      //-   | Free Domain & Hosting
      //- .pcBoxSubtitle A custom domain name & hosting is included in this plan
    .pcButton Get Started Now