mixin p19Highlights()
  .wraphighlights.wh2
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .orange Hunter S.
          br
          .orange Thompson
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .green Sheehan
          br
          .green Quirke