mixin p19Text()
  p
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | talking and talking about these big ideas but nothing actually ever
    br.desktop_only  
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | happened. They never wrote more than a few chapters.
    br.break
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | And I think that was something I did right. I would always be
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | writing. Even when I had nothing to write about I would sit behind
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | this old typewriter and re-type all of the old classics. I started with
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      span.italic
        | The Great Gatsby 
      | which took about four solid days. From cover
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | to cover. And then 
      span.italic
        | A Farewell to Arms.
      |  And then some Norman
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | Mailer. This went on for a few years. I needed to know what it felt
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | like to write a masterpiece.
    br.aTop
    | *
    br.aBottom
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | I used to visit churches a lot, for the history and to look at the
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | designs and architecture. Often they’d be locked but there would
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | be a sign saying which house to knock on to get the key. It always
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | seemed like too much effort so we just ended up walking back
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | home. Then I asked myself why I could never be bothered, and I
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | didn’t really know.
    br.break
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | So this one time I read the sign and it said that the key was in a
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | house about half a mile down the road so I headed for it. It turns