mixin p18Text()
  p
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | I used to drop in on extra classes for the fun of it. There was this
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | calligraphy class which I was fascinated by. It didn’t have a hope
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | of any practical application in my life but I would go every week
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | and learn about serif and sans-serif typefaces, different letter
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | spacing, proportionally spaced fonts. Ten years later when we were
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | designing the first Macintosh computer it all came back to me. And
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | we desinged it all into the Mac.
    br.aTop
    | *
    br.aBottom
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | Mum knitted me a special suit and we drove down to the Yuk
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | Yuk Club in Toronto which was a sort of open-mic stand up
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | comedy night. They called my name and I walked up to the stage,
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | feeling pretty nervous, I was just fifteen at the time. I tried a few
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | impressions and before I knew it the audience were booing and the
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | manager pulled me off.
    br.aTop
    | *
    br.aBottom
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | All my friends said they wanted to be writers but I don’t think
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | they really wanted to be writers. They would spend all their time
