mixin p8Highlights()
  .wraphighlights.wh2
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .yellow Robin
          br
          .yellow Williams
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .blue Sheehan
          br
          .blue Quirke