mixin p8Text()
  p
    | If you are just a consumer of information, there is nothing you can
    br.desktop_only
    | tell anyone that can’t be read in a book.
    br.break
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | If I asked you about art you would give me the skinny on every art
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | book ever written. Michelangelo, you know a lot about him. Life’s
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | work, political aspiration, him and the Pope, sexual orientation, the
    br.desktop_only  
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | whole works, right? But I’ll bet you can’t tell me what it smells like
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | in the Sistine Chapel. You’ve never actually stood there and looked
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | up at that beautiful ceiling.
    br.break
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | If I asked you about war, you’d probably throw Shakespeare at me,
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | right? ‘Once more unto the breach, dear friends.’ But you’ve never
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
      | been near one.
    br.break
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')          
      | You couldn’t tell me what it feels like, you could only tell me what
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | Shakespeare has told you it feels like.
    br.aTop
    | *
    br.aBottom
    | On the 23rd June 1916 Wilfred Owen was struck by trench mortar.
