mixin p20Text()
  p
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | out that the people had moved and the key wasn’t there so I
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | couldn’t get inside the church. But that’s not the point.
    br.aTop
    | *
    br.aBottom
    | Everything is contained in the details, the small victories, the actions
    br.desktop_only    
    | of the everyday.
    br.break
    | It is impossible to just ‘be’ anything.
    br.break    
    | You can’t just ‘be’ one of the greatest innovators of all time. But you
    br.desktop_only    
    | can drop in on an extra calligraphy class every day before college.
    br.break    
    | You can’t just ‘be’ one of the greatest movie stars of all time. But
    br.desktop_only    
    | you can walk into the Yuk Yuk club as a fifteen year old boy and
    br.desktop_only    
    | embarrass yourself performing stand up comedy.
    br.break    
    | You can’t just ‘be’ one of the greatest authors of all time. But you can
    br.desktop_only    
    | spend your weekend copying out The Great Gatsby word by word.
    br.break
    | You can’t just ‘be’ anything. You can only do things.
    br.aTop
    | *
    br.aBottom