mixin p6Highlights()
  .wraphighlights.wh5
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .orange Henry
          br
          .orange David
          br
          .orange Thoreau
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .green Marston
          br
          .green Bates
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .yellow Gerry
          br
          .yellow Hopkinson
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .blue James
          br
          .blue Webb
          br
          .blue Young
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .pink Maria
          br
          .pink Popova