mixin p6Text()
  p
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | The hen lays just one egg each day. And the rest of the time, she
    br.desktop_only
    a.orange(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | goes around and she feeds on things that fuel the next egg.
    br.aTop
    | *
    br.aBottom
    | Do not crowd your day with excessive labour. Go out into the
    br.desktop_only
    | world and gather your raw materials.
    br.break    
    | Let your curiosity guide you. 
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')     
      | Let it take you down alley after alley
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | regardless of whether they appear blind or not.
    |  
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
      | Be intrigued by
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | cloud formation, by hieroglyphics, by the rules of badminton.
    |  
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
      | Pile
    br.desktop_only
    a.blue(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | up information, both specific and miscellaneous.
    |  And one day it
    br.desktop_only
    | will return to you tenfold.
    br.break
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | The things that you put inside your head are like lego blocks. If
    br.desktop_only
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | you are trying to build with just with one shape and one colour 
    br.desktop_only    
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | your creations will always be limited. The more blocks you
    br.desktop_only        
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | have and the more diverse their shapes and colours, the more    
    br.desktop_only        
    a.pink(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | interesting castles you can build.
    