mixin p9Text()
  p    
    | For three days he was left, unconscious on an embankment,
    br.desktop_only
    | lying amongst the remains of one of his fellow officers. Shortly
    br.desktop_only
    | afterwards Owen was diagnosed with Shell Shock and sent to 
    br.desktop_only
    | Craiglockhart War Hospital in Edinburgh where he began to
    br.desktop_only
    | write about his experiences.
    br.break
    .poemItalic
      | In all my dreams, before my helpless sight,
      br.desktop_only      
      | He plunges at me, guttering, choking, drowning.
      .poemBreak
      | If in some smothering dreams you too could pace
      br.desktop_only    
      | Behind the wagon that we flung him in,
      br.desktop_only    
      | And watch the white eyes writhing in his face,
      br.desktop_only    
      | His hanging face, like a devil’s sick of sin;
      br.desktop_only    
      | If you could hear, at every jolt, the blood
      br.desktop_only    
      | Come gargling from the froth-corrupted lungs,
      br.desktop_only    
      | Obscene as cancer, bitter as the cud
      br.desktop_only    
      | Of vile, incurable sores on innocent tongues,—
      br.desktop_only    
      | My friend, you would not tell with such high zest
      br.desktop_only    
      | To children ardent for some desperate glory,
      br.desktop_only    
      | The old Lie: Dulce et decorum est
      br.desktop_only
      | Pro patria mori.
    br.break
    | Owen’s poetry was not particularly original. His style was heavily
    br.desktop_only
    | influenced by his mentor Siegfried Sasoon.