mixin p2Highlights()
  .wraphighlights2
    ul
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')        
          .green Tom
          br
          .green Dry
      li
        a(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
          .yellow Jim
          br
          .yellow Jarmusch