mixin p2Text()
  p
    | The consumers’ philosophy is simple: 
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | if you want to increase the
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')
      | quality of your work – your output – you must increase the level
    br.desktop_only
    a.green(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')    
      | of your inputs.
    | 
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')     
      | Your input is knowledge. The more pieces of
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')         
      | knowledge you have at your disposal, the greater the opportunity
    br.desktop_only
    a.yellow(href='http://www.swiss-miss.com/2009/01/nothing-is-original.html', target='_blank')         
      | for explosive connections and the better ideas you will create.
    br.desktop_only    
    | It is that simple.
    br.break
    | Knowledge can come from information. It is what you learn from
    br.desktop_only    
    | books, blogs, documentaries, films, radio, podcasts.
    br.break
    | Knowledge can also come from experiences. This type of
    br.desktop_only    
    | knowledge can’t be read about in a book. You have to discover
    br.desktop_only    
    | it for yourself. It is as simple as watching the sun come up in the
    br.desktop_only    
    | morning or asking the cashier about their day or volunteering for
    br.desktop_only    
    | the RSPCA.
    br.break
    | First you choose what to consume and then you consume it
    br.desktop_only    
    | properly. This is how you populate your mind with valuable
    br.desktop_only    
    | pieces of knowledge.

    
